<div>
  <header>
    <div>Admin Panel</div>
    <li>
      <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
    </li>
  </header>
  <body>
  <h2>Upload Products</h2>
    <div>
      <%= form_tag({:action => 'upload', :controller => 'admins'}, :multipart => true) do %>
          <p><label for="upload_file">Select File</label>
            <%= file_field 'json_file', 'file' %></p>
          <%= submit_tag "Upload" %>
      <% end %>
    </div>
  </body>
</div>